body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:802px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2835 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:802px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2836 {
  position:absolute;
  left:2px;
  top:393px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2838 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2839 {
  position:absolute;
  left:2px;
  top:17px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2840 {
  position:absolute;
  left:21px;
  top:17px;
  width:20px;
  height:20px;
}
#u2841 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u2842 {
  position:absolute;
  left:185px;
  top:11px;
  width:81px;
  height:27px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2843 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2844 {
  position:absolute;
  left:53px;
  top:73px;
  width:129px;
  height:16px;
}
#u2845 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2846 {
  position:absolute;
  left:53px;
  top:129px;
  width:57px;
  height:240px;
}
#u2847 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u2848 {
  position:absolute;
  left:39px;
  top:99px;
  width:365px;
  height:1px;
}
#u2849 {
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2850 {
  position:absolute;
  left:131px;
  top:353px;
  width:67px;
  height:16px;
}
#u2851 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2852 {
  position:absolute;
  left:137px;
  top:126px;
  width:56px;
  height:26px;
}
#u2853 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u2854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2854 {
  position:absolute;
  left:210px;
  top:126px;
  width:56px;
  height:26px;
}
#u2855 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u2856 {
  position:absolute;
  left:53px;
  top:162px;
  width:339px;
  height:50px;
}
#u2856_input {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2857 {
  position:absolute;
  left:53px;
  top:222px;
  width:339px;
  height:50px;
}
#u2857_input {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2858 {
  position:absolute;
  left:153px;
  top:416px;
  width:140px;
  height:40px;
}
#u2859 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
