body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:753px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u1969 {
  position:absolute;
  left:2px;
  top:392px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1972 {
  position:absolute;
  left:2px;
  top:17px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u1973 {
  position:absolute;
  left:19px;
  top:15px;
  width:12px;
  height:21px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u1975 {
  position:absolute;
  left:0px;
  top:843px;
  width:450px;
  height:800px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u1976 {
  position:absolute;
  left:2px;
  top:392px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u1977 {
  position:absolute;
  left:203px;
  top:9px;
  width:49px;
  height:33px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1979 {
  position:absolute;
  left:25px;
  top:1096px;
  width:196px;
  height:19px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1981 {
  position:absolute;
  left:25px;
  top:1188px;
  width:402px;
  height:53px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:18px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1983 {
  position:absolute;
  left:25px;
  top:875px;
  width:16px;
  height:33px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u1985 {
  position:absolute;
  left:198px;
  top:1207px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:78px;
}
#u1987 {
  position:absolute;
  left:189px;
  top:938px;
  width:76px;
  height:77px;
  color:#CCCCCC;
}
#u1988 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  word-wrap:break-word;
}
#u1989 {
  position:absolute;
  left:25px;
  top:1123px;
  width:243px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1990 {
  position:absolute;
  left:16px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u1989_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1991 {
  position:absolute;
  left:70px;
  top:275px;
  width:316px;
  height:40px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:12px;
  width:312px;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:48px;
}
#u1993 {
  position:absolute;
  left:544px;
  top:75px;
  width:209px;
  height:48px;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:43px;
}
#u1995 {
  position:absolute;
  left:308px;
  top:149px;
  width:79px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1996 {
  position:absolute;
  left:2px;
  top:14px;
  width:75px;
  word-wrap:break-word;
}
#u1997 {
  position:absolute;
  left:63px;
  top:147px;
  width:235px;
  height:45px;
}
#u1997_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1998 {
  position:absolute;
  left:153px;
  top:86px;
  width:234px;
  height:45px;
}
#u1998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u2000 {
  position:absolute;
  left:169px;
  top:235px;
  width:144px;
  height:16px;
  color:#FF6600;
}
#u2001 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2002 {
  position:absolute;
  left:147px;
  top:234px;
  width:19px;
  height:19px;
  color:#FFFFFF;
}
#u2003 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u2004 {
  position:absolute;
  left:136px;
  top:92px;
  width:1px;
  height:32px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2006 {
  position:absolute;
  left:63px;
  top:86px;
  width:68px;
  height:45px;
}
#u2006_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u2007 {
  position:absolute;
  left:204px;
  top:409px;
  width:45px;
  height:45px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u2009 {
  position:absolute;
  left:128px;
  top:409px;
  width:45px;
  height:45px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u2011 {
  position:absolute;
  left:278px;
  top:409px;
  width:45px;
  height:45px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
