body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:802px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2781 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:802px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2782 {
  position:absolute;
  left:2px;
  top:393px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2784 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2785 {
  position:absolute;
  left:2px;
  top:17px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u2786 {
  position:absolute;
  left:19px;
  top:15px;
  width:12px;
  height:21px;
}
#u2787 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u2788 {
  position:absolute;
  left:177px;
  top:8px;
  width:97px;
  height:33px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u2789 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2790 {
  position:absolute;
  left:94px;
  top:75px;
  width:166px;
  height:19px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2791 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u2792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2792 {
  position:absolute;
  left:94px;
  top:116px;
  width:205px;
  height:190px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2793 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u2794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2794 {
  position:absolute;
  left:74px;
  top:159px;
  width:10px;
  height:10px;
}
#u2795 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
