body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2372 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2373 {
  position:absolute;
  left:2px;
  top:392px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2375 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2376 {
  position:absolute;
  left:2px;
  top:17px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u2377 {
  position:absolute;
  left:19px;
  top:15px;
  width:12px;
  height:21px;
}
#u2378 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2379 {
  position:absolute;
  left:25px;
  top:75px;
  width:65px;
  height:22px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2380 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u2381 {
  position:absolute;
  left:180px;
  top:13px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2382 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2383 {
  position:absolute;
  left:15px;
  top:115px;
  width:412px;
  height:91px;
}
#u2384 {
  position:absolute;
  left:2px;
  top:38px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:35px;
}
#u2385 {
  position:absolute;
  left:25px;
  top:137px;
  width:220px;
  height:35px;
}
#u2386 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u2387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u2387 {
  position:absolute;
  left:360px;
  top:144px;
  width:33px;
  height:22px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u2388 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2389 {
  position:absolute;
  left:15px;
  top:223px;
  width:412px;
  height:87px;
}
#u2390 {
  position:absolute;
  left:2px;
  top:36px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:35px;
}
#u2391 {
  position:absolute;
  left:25px;
  top:245px;
  width:220px;
  height:35px;
}
#u2392 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u2393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u2393 {
  position:absolute;
  left:360px;
  top:252px;
  width:33px;
  height:22px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u2394 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2395 {
  position:absolute;
  left:15px;
  top:327px;
  width:412px;
  height:87px;
}
#u2396 {
  position:absolute;
  left:2px;
  top:36px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:35px;
}
#u2397 {
  position:absolute;
  left:25px;
  top:349px;
  width:220px;
  height:35px;
}
#u2398 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u2399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u2399 {
  position:absolute;
  left:360px;
  top:356px;
  width:33px;
  height:22px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u2400 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2401 {
  position:absolute;
  left:25px;
  top:179px;
  width:100px;
  height:16px;
}
#u2402 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2401_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2403 {
  position:absolute;
  left:287px;
  top:66px;
  width:140px;
  height:40px;
}
#u2404 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
